$primary-font:'Open Sans', sans-serif;
$title-font:'Lobster', cursive;

$t1-primary :  #cfcfeaff; 
$t1-secondary : #a89b9dff; 
$t1-success : #575a4bff; 
$t1-info : #F4F4F4;
$t1-warning : rgb(238, 167, 3);
$t1-danger : #d32020; 
$t1-background : #282c34ff;  
$t1-light:  #f8f9fa !default;
$t1-dark:   #343a40 !default;
$t1-text: $t1-light;
$t1-company-color: #41B6E6;